.nav-bar {
  width: 30rem;
  height: 100%;
  margin: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(153, 82, 220);
}
.nav-element {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin: 20px 10px;
}
.nav-element a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
ul {
  list-style: none;
}
.accordion-header .accordion-button {
  color: purple;
}
ul li:hover {
  border: 2px solid white;
  border-radius: 5px;
}
